$white: #fff;



$primary_font: 'Open Sans', sans-serif;
$headers_font: 'Source Sans Pro', sans-serif;
$hover_color: #87b672;
$primary_color: #81868e;
$headers_color: #333b46;
$slide_elem_color: $white;
$column_2: 50%;
$column_3: 33.333333%;

$container-width: 1170px;
$col-padding: 15px;